@mixin flex($align-items: center, $justify-content: center) {
    display: flex;
    // align-items
    @if $align-items == flex-start {
		align-items: flex-start;
	} @else if $align-items == flex-end {
		align-items: flex-end;
	} @else {
		align-items: $align-items;
    }
    // justify-content
    @if $justify-content == flex-start {
		justify-content: flex-start;
	} @else if $justify-content == flex-end {
		justify-content: flex-end;
    }
    @else if $justify-content == space-between {
        justify-content: space-between;
	} @else {
		justify-content: $justify-content;
	}
}